<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>DictionaryFilterTool</title>
		<link rel="stylesheet" href="{{url_for('static', filename='form.css')}}">
	</head>
	<body>
		<div class="toolName"><h1>Dictionary Filter Tool API</h1></div>
		<p style="text-align:center;font-family:helvetica">
            Available URLs: <br><br>
            - / <br><br>(for the intro page here!) <br><br>
			- /guess <br><br> (for the form to fill in guesses) <br><br>
            - /candidates/number <br><br> (replace "number" with 1 for the first guess, 2 for the second, etc.) <br><br>
        </p>
    </body>